/* 改变主题色变量 */
$color:#564A94;
$--color-primary: $color;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "../../../../node_modules/element-ui/packages/theme-chalk/src/index";
/*头部菜单背景颜色*/
.header{
  background-color: #242f42;
}
.login-wrap{
  background: #324157;
}
.plugins-tips{
  background: #eef1f6;
}
.plugins-tips a{
  color: $color;
}
.el-upload--text em {
  color: $color;
}
.pure-button{
  background: $color;
}
.tags-li.active {
  border: 1px solid $color;
  background-color: $color;
}
.message-title{
  color: $color;
}
.collapse-btn:hover{
  background: rgb(40,52,70);
}

[class*=" el-icon-lx"], [class^=el-icon-lx] {
  font-family: lx-iconfont!important;
}